.clearfix:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

.font-12 {
    font-size: 12px;/*no*/
}
[data-dpr="2"] .font-12 {
    font-size: 24px;/*no*/
}
[data-dpr="3"] .font-12 {
    font-size: 36px;/*no*/
}

.font-14 {
    font-size: 14px;/*no*/
}
[data-dpr="2"] .font-14 {
    font-size: 28px;/*no*/
}
[data-dpr="3"] .font-14 {
    font-size: 42px;/*no*/
}

.font-16 {
    font-size: 16px;/*no*/
}
[data-dpr="2"] .font-16 {
    font-size: 32px;/*no*/
}
[data-dpr="3"] .font-16 {
    font-size: 48px;/*no*/
}

.font-20 {
    font-size: 20px;/*no*/
}
[data-dpr="2"] .font-20 {
    font-size: 40px;/*no*/
}
[data-dpr="3"] .font-20 {
    font-size: 60px;/*no*/
}